body{
  background-color: #D2D2FF;
}

#root{
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  margin: 32px;
  padding: 32px;
  min-width: 500px;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}

